.pulse {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(0, 255, 4);
  animation: pulse 3s ease infinite;
  opacity: 0.9;
}

@keyframes pulse {
  0% {
  }
  50% {
    width: 17;
    height: 17;
    background-color: rgb(156, 252, 158);
    box-shadow: 0px 0px 10px rgb(243, 255, 243);
  }
  50% {
  }
}
